page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.notify-tip {
  width: 100%;
  padding: 12rpx;
  background-color: var(--brand-yellow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rpx;

  text {
    color: #ffffff;
  }

  .button {
    color: var(--brand-green);
  }
}

.header {
  width: 100%;
  flex: 0 0 184rpx;
  border-bottom: 1rpx solid #f1f1f1;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rpx;
  }
}

.list {
  width: 100%;
  height: 100px;
  flex-grow: 1;

  .movable-area-conv {
    width: 100vw;
    height: 128rpx;
  }

  .movable-view-conv {
    --actions-width: 150rpx;
    width: calc(100% + var(--actions-width));
    height: 128rpx;
    display: flex;
    flex-direction: row;
  }

  .conversation {
    width: calc(100% - var(--actions-width));
    height: 128rpx;
  }

  .load-more {
    color: rgba(0, 75, 140, 0.69);
    font-size: 24rpx;
    text-align: center;
    padding: 22rpx 0;
  }

  .loading {
    color: #919191;
    font-size: 24rpx;
    text-align: center;
    padding: 22rpx 0;
  }

  .empty {
    position: absolute;
    width: 100%;
    height: 500rpx;
    left: 50%;
    transform: translateX(-50%);
  }
}